footer {
    width: 100%;
}

.footer_container {
    width: 100%;
    padding: 4rem 0;
    margin: 2rem auto;
    display: grid;
    row-gap: 3rem;
    justify-content: space-between;
}

.footer_container img {
    width: 100px;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 5;
}

.footer_container h4 {
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.6);
    padding-bottom: 1.5rem;
}

.footer_container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_container ul a {
    color: var(--dark);
    font-weight: 600;
    transition: color 0.3s ease-in;
}

.footer_container ul a:hover {
    color: var(--purple);
}

/* @media screen and (min-width: 576px) {
    .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media screen and (min-width: 1200px) {
    .footer_container {
        grid-template-columns: repeat(5, 1fr);
        max-width: 82%;
    }
}