:root {
  --dark: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --light-dark: rgb(34, 34, 34);
  --gray: rgb(102, 102, 102);
  --light-gray: rgb(205, 205, 205);
  --lighter-gray: rgb(153, 153, 153);
  --lightes-gray: rgb(243, 243, 243);
  --purple: rgb(89, 38, 218);
  --green: rgb(37, 182, 112);
  --blue: rgb(39, 114, 255);
  --red: rgb(233, 49, 49);
  --orange: rgb(251, 101, 19);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: #e93131; */
}

body {
  font-family: "Inter", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: var(--gray);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

a:hover {
  color: var(--dark);
  font-weight: 500;
}
