.book_demo_header {
    width: 100%;
    margin-left: auto;
}

.book_demo_header > div {
    margin: 0 auto;
    padding: 1.5rem 1.5rem 0.75rem;
}

footer {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo_hero_container {
    position: relative;
    min-height: 100vh;
}

.demo_hero_container img {
    width: 100%;
    height: 470px;
    border-radius: 26px;
    object-fit: cover;
}

.demo_hero_container .img_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    min-width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 26px;
    z-index: 10;
    padding: 3rem 2.5rem;
}

.demo_hero_container .overlay_content{
    display: flex;
    justify-content: space-between;
}

.overlay_content > div {
    flex-basis: 50%;
}

.overlay_content h1 {
    color: var(--white);
    font-family: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.overlay_content h4 {
    padding: 3rem 0 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    font-weight: 400;
}

.overlay_content p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.05rem;
    line-height: 1.5rem;
    padding: 0.35rem 0;
    max-width: 95%;
}

.overlay_content .calender_wrapper {
    background-color: var(--white);
    flex-basis: 45%;
    border-radius: 19px;
    padding: 3rem 3rem 6rem;
    min-height: 820px;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calender_wrapper .logo_wrapper {
    width: 60px;
    height: 60px;
    background-color: var(--dark);
    border-radius: 50%;
    margin: 1rem auto 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calender_wrapper .logo_wrapper i {
    color: white;
    font-size: 32px;
}

.calender_wrapper h6 {
    text-align: center;
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
}

.calender_wrapper h5 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0;
    color: rgba(3, 3, 39, 0.9);
}

.calender_wrapper .timing {
    padding: 1.25rem 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.calender_wrapper .timing span {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray);
    font-weight: 600;
    margin: 0 auto;
    width: 75%;
}

.calender_wrapper .timing span i {
    font-size: 19px;
}

.calender_wrapper small {
    color: rgba(3, 3, 39, 0.9);
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem 0 1rem;
    display: block;
}

.calender_wrapper .timing p {
    color: var(--gray);
    color: var(--dark);
    padding: 1rem 0;
    font-size: 14px;
    margin: 0 auto;
    width: 75%;
}

.calender_wrapper .time_zone h6 {
    color: rgba(3, 3, 39, 0.9);
    text-align: start;
    padding: 1rem 0 0.5rem;
    font-weight: 600;
    font-size: 14px;
}

.calender_wrapper .time_zone span,
.calender_wrapper .time_zone i {
    font-size: 14px;
    color: rgba(3, 3, 39, 0.9);
    cursor: pointer;
}

.calender_wrapper .time_zone > div {
    padding: 0.5rem 0.75rem;
    border-radius: 21px;
}

.calender_wrapper .time_zone > div:hover {
    background-color: rgba(3, 3, 39, 0.1)
}


@media screen and (min-width: 1000px) {
    .book_demo_header > div {
        max-width: 90%;
        padding: 1.5rem 0 0.75rem;
    }
}

@media screen and (min-width: 1000px) {
    .book_demo_header > div,
    .demo_hero_container {
        max-width: 80%;
        margin: 0 auto;
    }
}