.faq_container {
    width: 100%;
    margin: 3rem auto;
    padding: 0 1.15rem;
}

.faq_container h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

.faq_container article {
    margin: 2rem auto;
}

.faq_container .question_answer_wrapper {
    background-color: rgba(243, 243, 243, 0.7);
    border-radius: 19px;
    padding: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    min-height: 100px;
    transition: min-height 0.2s ease-in-out;
}

.faq_container .question_answer_wrapper.toggle_question {
    min-height: 250px;
}

.faq_container .question_answer_wrapper .heading {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.faq_container .question_answer_wrapper .heading .plus_icon{
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq_container .question_answer_wrapper .heading .plus_icon img {
    transition: transform 0.3s ease-in;
}

.faq_container .question_answer_wrapper.toggle_question .heading .plus_icon img {
    transform: rotate(45deg);
}

.faq_container .question_answer_wrapper .question {
    font-size: 1.15rem;
    font-weight: 600;
}

.faq_container .question_answer_wrapper .answer {
    display: none;
    padding-top: 1rem;
}

.faq_container .question_answer_wrapper .answer p {
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--dark);
}

.faq_container .question_answer_wrapper .answer.show_answer {
    display: block;
}



@media screen and (min-width: 1000px) {
    .faq_container {
        padding: 0;
        max-width: 90%;
    }

    .faq_container h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .faq_container article {
        margin: 3.5rem auto;
    }

    .faq_container .question_answer_wrapper.toggle_question {
        min-height: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .faq_container {
        max-width: 82%;
        margin: 8rem auto;
    }
}