/* ------------- What  Makes Us Unique ------------- */
.what_makes_unique {
  margin: 2rem auto 0;
  display: grid;
  gap: 2rem;
}

.what_makes_unique .icon_box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(243, 243, 243, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.what_makes_unique h6 {
  font-size: 1.15rem;
  font-weight: 600;
  padding-top: 2rem;
}

.what_makes_unique p {
  color: var(--gray);
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .what_makes_unique {
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem auto 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .what_makes_unique {
    grid-template-columns: repeat(3, 1fr);
  }
}
