.customer_portal_container {
    width: 100%;
    margin: 2.15rem auto;
    padding: 0 1.15rem;
    z-index: 10;
    position: relative;
}

.customer_portal_container h1 {
    font-size: 2.85rem;
    line-height: 2.85rem;
    font-weight: 600;
}

.customer_portal_container p {
    color: var(--dark);
    padding: 2rem 0;
    line-height: 1.75rem;
    font-size: 1.15rem;
}

.customer_portal_container .breadcrum {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.7);
    transition: color 0.2s ease-in-out;
}

.customer_portal_container .breadcrum:hover {
    color: #000;
}

.customer_portal_container article {
    margin: 0 auto;
}

.customer_portal_container article img {
    width: 100%;
    border-radius: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 760px;
    object-fit: cover;
}

.customer_portal_container article .indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
}

.customer_portal_container .indicators small {
    color: var(--gray);
    font-weight: 600;
    font-size: 14px;
}

.customer_portal_container .indicators .indicator_btns button {
    border: none;
    border-radius: 50%;
    background-color: rgba(243, 243, 243, 0.9);
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.customer_portal_container .indicators .indicator_btns button img {
    width: 19px;
}

.customer_portal_container .starter_template {
    margin: 4rem auto 0;
    padding-bottom: 5rem;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.customer_portal_container .starter_template > div {
    flex-basis: 55%;
}

.customer_portal_container .starter_template > div p {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.35rem;
    color: rgba(0, 0, 0, 0.8);
}

.customer_portal_container .starter_template a {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 21px;
    height: 100%;
    min-height: 230px;
    padding: 1.5rem;
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer_portal_container .starter_template a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.customer_portal_container .starter_template a > div  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer_portal_container .starter_template a > small {
    color: var(--gray);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.customer_portal_container .starter_template a span {
    max-width: 40%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.customer_portal_container .starter_template a i {
    background-color: rgba(128, 128, 128, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 50%;
}

.customer_portal_container .why_choose_us {
    margin-top: 4rem;
}

.customer_portal_container .why_choose_us p {
    padding: 0;
    font-size: 1rem;
    color: var(--gray);
    line-height: 1.5rem;
}

.customer_portal_container .why_choose_us > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 2.5rem 0;
}

.customer_portal_container .why_choose_us > div a {
    font-size: 1rem;
    display: inline-block;
    padding: 0.15rem;
    color: #000;
    transition: color 0.3s ease-in;
}

.customer_portal_container .why_choose_us > div a:hover {
    color: var(--purple);
}

.customer_portal_container .why_choose_us > div a:first-of-type {
    padding-top: 2rem;
}

.customer_portal_container .why_choose_us .last_desc {
    padding-top: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .customer_portal_container {
        max-width: 90%;
        margin: 3rem auto;
    }

    .customer_portal_container .why_choose_us > div {
        flex-direction: row;
    }

    .customer_portal_container .why_choose_us > div > div {
        flex-basis: 50%;
    }

    .customer_portal_container .starter_template {
        flex-direction: row;
        align-items: center;
    }

    .customer_portal_container .starter_template a {
        width: fit-content;
        flex-basis: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .customer_portal_container {
        padding: 0;
        max-width: 82%;
        margin-top: 4rem;
    }

    .customer_portal_container h1 {
        font-size: 5rem;
        line-height: 4.5rem;
        padding-top: 0.5rem;
    }

    .customer_portal_container p {
        padding-top: 2rem;
    }

    .customer_portal_container .starter_template {
        margin: 6rem auto;
    }

    .customer_portal_container .why_choose_us {
        margin-top: 6rem;
    }

    .customer_portal_container .why_choose_us h2 {
        font-size: 3rem;
        line-height: 2.75rem;
        max-width: 55%;
    }

    .customer_portal_container .starter_template a {
        flex-basis: 35%;
    }
}