/* ---------------------- Companies Section ----------------------- */
.companies_container {
    margin: 5rem auto;
    position: relative;
  }
  
  .companies_container p {
    text-align: center;
    color: var(--gray);
  }
  
  .companies_container p span {
    color: var(--dark);
  }
  
  .image-slider-container {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  .image-slider-container::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
  
  .image-slider-container .image-slider img {
    width: auto;
    height: auto;
    margin-right: 60px;
    display: inline-block;
  }

  .image-slider-container .image-slider img:last-child {
    margin-right: 1.25rem;
  }
  
  /* Keyframes for sliding effect */
  /* @keyframes slideRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%
    }
  }

  @keyframes slideRightSec {
    0% {
      left: 0;
    }
    100% {
      left: 100%
    }
  } */
  
  /* .image-slider-container .image-slider {
    display: flex;
  }
  
  .image-slider-container .image-slider::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 100%;
  } */
  
  /* @media screen and (min-width: 1000px) {
    .image-slider-container .image-slider {
      display: inline-block;
      animation: slideRight 60s linear infinite;
    }
  } */
  