/* ---------------------- Companies Section ----------------------- */
.companies_container {
    margin: 0 auto 9rem;
    position: relative
  }
  
  .companies_container p {
    text-align: center;
    color: var(--gray);
  }
  
  .companies_container p span {
    color: var(--dark);
  }
  
  .image-slider-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 2rem auto;
  }

  .image-slider img {
    width: 100%;
    height: auto;
    margin-right: 60px;
    border-radius: 14px;
  }
  
  .image-slider-container .image-slider img {
    width: auto;
    height: auto;
    margin-right: 60px;
    display: inline-block;
  }
  
  /* Keyframes for sliding effect */
  @keyframes slideRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%
    }
  }

  @keyframes slideRightSec {
    0% {
      left: 0;
    }
    100% {
      left: 100%
    }
  }
  
  .image-slider-container .image-slider {
    display: flex;
  }
  
  .image-slider-container .image-slider::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 1000px) {
    .image-slider-container .image-slider {
      display: inline-block;
      animation: slideRight 60s linear infinite;
    }
  }
  