/* ----------- HERO SECTION -------------- */
.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

}

header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.15rem 1.25rem 1rem 1.35rem;
  z-index: 400;
}

header a {
  flex: 1 1 15%;
  z-index: 50
}

header .desktop_navigation {
  display: none;
  flex-basis: 70%;
  align-items: flex-end;
  justify-content: center;
  gap: 2.75rem;
  z-index: 115;
  margin-top: -0.2rem;
}

header .desktop_navigation small {
  color: var(--gray);
  font-size: 14px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

header .signInButton {
  display: none;
  justify-content: flex-end;
  flex: 1 1 15%;
  z-index: 10;
}

header .signInButton a {
  padding: 0.65rem 1rem;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 19px;
  border: none;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton {
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 26px;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  z-index: 12;
}

.hero_content_container {
  flex: 1 1 100%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;
  padding: 1.5rem 1.25rem 1rem 1.25rem;
}

.announcement_wrapper {
  padding: 6px 12px;
  margin-bottom: 1rem;
  height: min-content;
  border: 1px solid var(--light-gray);
  border-radius: 26px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement_wrapper p {
  color: var(--light-dark);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.announcement_wrapper span {
  display: none;
}

.hero_content h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.25rem;
  color: var(--dark);
}

.hero_content h1 span {
  white-space: pre;
}

.hero_content p.description {
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: var(--gray);
  margin-top: 2rem;
  max-width: 100%;
}

.hero_content .action_buttons {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  row-gap: 1rem;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.hero_content .action_buttons a {
  padding: 1.25rem 2.5rem;
  border-radius: 32px;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero_content .action_buttons a span {
  display: none;
}

.hero_content .action_buttons a:last-child {
  background-color: var(--lightes-gray);
  color: var(--dark);
  font-weight: 600;
}

/* ----------------- HERO IMAGE SECTION ---------------- */
.slider-wrapper {
  margin: 0;
  padding: 0 1.25rem;
  flex: 1 1 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 35;
}

.slides-container {
  height: 100%;
  height: 480px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  position: relative;
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 1.75rem;
}

.slide .slide_content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1.75rem;
  z-index: 10;
}

.slide .slide_content.active {
  display: block;
  animation: slideContent 0.5s ease-in;
}

@keyframes slideContent {
  0% {
    top: 50px;
  }
  100% {
    top: 0%;
  }
}

.slide_content .wrapper {
  background-color: white;
  height: 200;
  border-radius: 9px;
  padding: 1rem 1.5rem;
  position: absolute;
  left: 12%;
  top: 33%;
}

.slide_content .order_reviews {
  position: absolute;
  left: 6%;
  top: 30%;
  width: 100%;
  max-width: 250px;
  height: 220px;
}

.slide_content .order_reviews img {
  width: 100%;
}

.slide_content .order_reviews .share_with_partners {
  background-color: rgba(243, 243, 243, 0.2);
  color: var(--white);
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 5rem;
  border-radius: 19px;
  font-size: 13px;
}

.slide_content .order_sample {
  position: absolute;
  top: 28%;
  left: 6%;
}

.slide_content .order_sample .content {
  width: 250px;
  height: 120px;
  border-radius: 14px;
  padding: 1.25rem 1.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide_content .order_sample .content div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide_content .order_sample .content div:first-child h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-dark);
}

.slide_content .order_sample .content div:first-child small {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
}

.slide_content .order_sample .content h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

.slide_content .order_sample .share_invoice_edit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.slide_content .order_sample .share_invoice_edit span {
  background-color: rgba(243, 243, 243, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  font-size: 12px;
}

.slide_content .wrapper img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.slide_content .wrapper h4 {
  font-size: 0.75rem;
  padding: 0.75rem 0 1.5rem;
}

.slide_content .wrapper .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

.slide_content .wrapper .content small {
  display: block;
  padding-bottom: 0.35rem;
  font-size: 12px;
  color: var(--gray);
}

.slide_content .wrapper .content div:last-child small:last-child {
  color: var(--purple);
}

.slide_content .wrapper .content div:first-child small:last-child {
  color: var(--light-dark);
}

.slide_content .wrapper .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slide_content .wrapper .actions div {
  background-color: var(--lightes-gray);
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_content .wrapper .actions div:first-child {
  background-color: var(--dark);
  gap: 0.25rem;
}

.slide_content .wrapper .actions div:first-child span {
  color: var(--white);
  font-size: 12px;
}

.slide_content .wrapper .actions i {
  font-size: 12px;
  color: var(--white);
}

.slide_content .wrapper .actions span {
  font-size: 12px;
}

.slide .slide_footer {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 2.5rem;
  gap: 1.5rem;
}

.slide .slide_footer div:first-child {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.slide .slide_footer div:first-child div {
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide .slide_footer div:first-child div img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.slide .slide_footer small {
  color: var(--white);
  font-weight: 600;
  font-size: 1.15rem;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  border-radius: 19px;
}

.slide .slide_footer div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  gap: 0.5rem;
}

.slide .slide_footer div:last-child .indicator {
  width: 50px;
  height: 2.65px;
  border-radius: 3px;
  background-color: var(--gray);
  flex: 1 1 auto;
}

.slide .slide_footer div:last-child .indicator.active {
  background-color: var(--white);
}

/* ------------------- Mobile Navigation -------------------- */
.mobile_nav_menu_container {
  display: block;
  height: 100%;
  max-height: 650px;
  width: 97%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-radius: 26px;
  padding: 0.85rem 0.75rem;
  margin: 0.5rem 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 1;
}

.mobile_nav_menu_container_show {
  opacity: 1;
  z-index: 110;
}

.mobile_nav_menu_container button {
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 26px;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 14px;
  border: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.mobile_nav_menu_container .back_button {
  background-color: rgba(243, 243, 243, 0.9);
  border-radius: 26px;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 14px;
  border: none;
  align-self: flex-start;
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in;
}

.mobile_nav_menu_container .back_button_show {
  display: block;
}

.menu_content_wrapper {
  padding: 1.5rem 0.75rem 1rem;
}

.menu_content_wrapper_hide {
  display: none;
}

.menu_content_wrapper h3 {
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.menu_content_wrapper li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 1px solid rgb(243, 243, 243);
  cursor: pointer;
}

.menu_content_wrapper li:last-of-type {
  border-bottom: 0px transparent;
}

.menu_content_wrapper li h6,
.menu_content_wrapper a {
  font-weight: 500;
  color: var(--dark);
  font-size: 1.15rem;
}

.menu_content_wrapper li img {
  width: 6px;
}

.menu_content_wrapper .action_links a {
  border-radius: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.9);
  margin: 1rem auto;
  padding: 1rem 0;
  font-size: 0.93rem;
  font-weight: 600;
}

.menu_content_wrapper .action_links a:last-of-type {
  background-color: var(--dark);
  color: var(--white);
}

/* ------------- Mobile Submenu ---------------- */
.mobile_products_submenu,
.mobile_solutions_submenu,
.mobile_resources_submenu {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.mobile_products_submenu_show {
  display: flex;
}

.mobile_solutions_submenu_show {
  display: flex;
}

.mobile_resources_submenu_show {
  display: flex;
}

.mobile_products_submenu li,
.mobile_solutions_submenu li {
  border-bottom: 0 transparent;
  padding: 1rem;
  border-radius: 19px;
}

.mobile_products_submenu li:hover,
.mobile_solutions_submenu li:hover {
  background-color: rgba(243, 243, 243, 0.9);
}

.mobile_products_submenu a,
.mobile_solutions_submenu a {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.mobile_products_submenu a img,
.mobile_solutions_submenu a img {
  width: 24px;
  height: auto;
}

.mobile_products_submenu a h6,
.mobile_solutions_submenu a h6 {
  font-size: 1rem;
}

.mobile_products_submenu a p,
.mobile_solutions_submenu a p {
  color: var(--gray);
  font-size: 0.9rem;
  padding-top: 0.5rem;
  width: 100%;
  max-width: 90%;
}

.mobile_resources_submenu li {
  padding: 0.15rem 1rem 1rem;
}

.mobile_resources_submenu a:hover {
  color: var(--purple);
}

/* ---------------------- Desktop Navigation ------------------- */
.desktop_navigation_overlay {
  opacity: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.desktop_navigation_overlay_show {
  opacity: 1;
  z-index: 100;
}

.desktop_navigation_container {
  background-color: var(--white);
  border-radius: 26px;
  color: var(--dark);
  position: absolute;
  top: 1.5%;
  left: 0;
  right: 0;
  width: 98.5%;
  margin: 0 auto;
  min-height: 510px;
  z-index: 1;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.desktop_navigation_container .link_on_desktop_nav {
  padding: 0.65rem 1.5rem;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 19px;
  border: none;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3%;
  top: 2.5%;
}

.desktop_navigation_container_show {
  opacity: 1;
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------- Products, Solutions Nav ---------------------*/
.products_ul,
.solutions_ul {
  display: none;
  column-gap: 1rem;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 91%;
  margin: 0 auto;
}

.show_products_ul,
.show_solutions_ul {
  display: flex;
}

.products_ul h4,
.solutions_ul h4 {
  color: rgba(128, 128, 128, 0.7);
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 4.25rem;
}

.products_ul .product_items,
.solutions_ul .product_items {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.products_ul .product_items.second_list,
.solutions_ul .product_items.second_list {
  padding-top: 6.75rem;
}

.products_ul .product_items a,
.solutions_ul .product_items a {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 14px;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 80%;
}

.products_ul .product_items a img,
.solutions_ul .product_items a img {
  width: 24px;
}

.products_ul .product_items a:hover,
.solutions_ul .product_items a:hover {
  background-color: var(--lightes-gray);
}

.products_ul .product_items a h6,
.solutions_ul .product_items a h6 {
  font-size: 1.15rem;
  color: var(--dark);
  font-weight: 500;
  padding-bottom: 0.65rem;
}

.products_ul .product_items.last_list,
.solutions_ul .product_items.last_list {
  padding-top: 2.25rem;
}

.products_ul .product_items.last_list a,
.solutions_ul .product_items.last_list a {
  max-width: 100%;
  padding: 0;
  font-size: 1.15rem;
  color: var(--dark);
  white-space: pre;
}

.products_ul .product_items.last_list a:hover,
.solutions_ul .product_items.last_list a:hover {
  background-color: transparent;
  color: var(--purple);
}

/* ------------------ Resources Nav ------------------- */
.resources_ul {
  display: none;
  column-gap: 1rem;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.show_resources_ul {
  display: flex;
}

.resources_ul .second_box {
  flex-basis: 40%;
}

.resources_ul h4 {
  color: rgba(128, 128, 128, 0.7);
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 1rem;
}

.resources_ul .resource_items {
  flex: 1 1 33%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.resource_items li {
  display: inline-block;
  padding: 0.65rem 0;
}

.resource_items li a {
  color: var(--dark);
  font-weight: 600;
  font-size: 1.15rem;
  transition: color 0.2s ease-in;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.resource_items li a:hover {
  color: var(--purple);
}

.resource_items li .icon_wrapper {
  background-color: black;
  padding: 0.5rem;
  width: 100px;
  height: 70px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource_ul .second_box .icon_wrapper img {
  width: 60px;
}

.resource_ul .second_box a {
  gap: 2rem;
}

@media screen and (min-width: 567px) {
  .hero_content .action_buttons {
    flex-direction: row;
  }

  .hero_content .action_buttons a {
    width: fit-content;
  }

  .hero_content h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--dark);
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 0 1.25rem 1rem 1.35rem;
  }

  .hero_container {
    width: 90%;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .hero_content {
    margin-top: 1rem;
  }

  .announcement_wrapper {
    margin-bottom: 1rem;
  }

  .hero_content h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }

  .hero_content p.description {
    max-width: 55%;
  }

  .slide_content .order_reviews,
  .slide_content .order_sample {
    left: 19%;
  }
}

@media screen and (min-width: 1200px) {
  header a {
    z-index: 115;
  }

  .hero_content_container {
    flex-basis: 50%;
  }

  .hero_container {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }

  .announcement_wrapper {
    margin: 3rem 0 2rem;
  }

  .announcement_wrapper span {
    display: flex;
  }

  .hero_content h1 {
    font-size: 5.25rem;
    line-height: 4.5rem;
  }

  .hero_content p.description {
    max-width: 90%;
    margin-top: 1.25rem;
  }

  .hero_content .action_buttons a span {
    display: flex;
  }

  .slider-wrapper {
    padding: 0;
    flex: 1 1 50%;
  }

  .slides-container {
    height: 650px;
  }

  .slide_content .wrapper {
    left: 29%;
    min-width: 250px;
  }

  .slide_content .order_reviews {
    left: 29%;
  }

  .slide_content .order_sample {
    left: 22%;
  }

  .slide .slide_footer {
    height: fit-content;
  }

  .slide .slide_footer div:last-child {
    justify-content: flex-start;
  }

  .slide .slide_footer div:last-child .indicator {
    flex: 0 1 auto;
  }

  header .desktop_navigation {
    display: flex;
  }

  header .signInButton {
    display: flex;
  }

  .menuButton {
    display: none;
  }
}
