/* ------------------------ The Platform ------------------------- */
.platform_container {
    width: 100%;
    margin: 3rem auto 9rem;
    padding: 0 1.25rem;
  }
  
  .platform_container small {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--gray);
  }
  
  .platform_container .heading_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 3rem;
  }
  
  .platform_container .heading_section h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
  
  .platform_container .heading_section a {
    padding: 1.15rem 1.75rem;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 29px;
    font-size: 1rem;
    font-weight: 600;
    display: none;
  }
  
  .platform_container .platorm_wrapper {
    display: none;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .platform_container .platform_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .platform_content_wrapper .content_box {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1.5rem 2rem;
    border-radius: 16px;
    position: relative;
    height: 70px;
    transition: height 0.2s ease-in;
    cursor: pointer;
  }
  
  .platform_container .content_box:hover {
    background-color: rgba(243, 243, 243, 0.6);
  }
  
  .platform_content_wrapper .content_box.active {
    background-color: rgba(243, 243, 243, 0.6);
    animation: contentBox 0.8s ease-in;
    height: 140px;
    z-index: 40;
  }
  
  @keyframes contentBox {
    0% {
      top: 5px;
    }
    100% {
      top: 0;
    }
  }
  
  .platform_content_wrapper .content_box h5 {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--gray);
    padding-bottom: 1rem;
  }
  
  .platform_content_wrapper .content_box p {
    color: var(--gray);
    display: none;
  }
  
  .platform_content_wrapper .content_box.active p {
    display: block;
  }
  
  .platform_content_wrapper img {
    width: 24px;
    height: auto;
  }
  
  .platform_container .platform_image {
    width: 100%;
    height: 100%;
    max-width: 60%;
    object-fit: cover;
    object-position: center;
    display: none;
    border-radius: 26px;
  }
  
  .platform_container .platform_image.active {
    display: block;
  }
  
  /* ------ Mobile Version ---------- */
  .platform_container .platform_mobile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
  
  .platform_mobile_wrapper .img_box {
    height: 280px;
    width: 100%;
  }
  
  .platform_mobile_wrapper .img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 26px;
  }
  
  .platform_mobile_wrapper .heading {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-bottom: 1.5rem;
  }
  
  .platform_mobile_wrapper .heading img {
    width: 24px;
    height: auto;
  }
  
  .platform_mobile_wrapper .heading h5 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark);
  }
  
  .platform_mobile_wrapper p {
    color: var(--gray);
    padding-top: 1.1rem;
  }
  
  @media screen and (min-width: 1000px) {
    .platform_container {
      max-width: 90%;
      padding: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .platform_container {
      max-width: 82%;
    }
  
    .platform_container .heading_section a {
      display: flex;
    }
  
    .platform_container .heading_section h4 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 3rem;
      max-width: 60%;
    }
  
    .platform_container .platorm_wrapper {
      display: flex;
    }
  
    .platform_container .platform_mobile_wrapper {
      display: none;
    }
  }